@font-face {
  font-family: "Jost";
  src: url("../fonts/jost-v6-cyrillic-300.woff") format("woff"),
       url("../fonts/jost-v6-cyrillic-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/jost-v6-cyrillic-600.woff") format("woff"),
       url("../fonts/jost-v6-cyrillic-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/jost-v6-cyrillic-regular.woff") format("woff"),
       url("../fonts/jost-v6-cyrillic-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: none;
  box-shadow: 0px 0px 6px #3421a0;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-y: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}
/* header */
/* _____________________________________________________________________________________ */
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  height: 74px;
}

.button-nav {
  padding-left: 24px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.logo {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  font-size: 16px;
  color: #999FA3;
  opacity: 0.5;
}

.nav-ul :last-child {
  margin-right: 25px;
}

.nav-li + .nav-li {
  margin-left: 34px;
}*/

 .sign-up {
  display: inline-block;
  padding: 16px 30px 18px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #B336FF;
  border-radius: 8px;
}

.sign-up:active {
  background: #5c1b85;
}

.aside-nav {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #312744;
  z-index: 3;
  padding: 24px;
}

.aside-close {
  background-color: #ffffff00;
  border: none;
  margin-right: auto;
}

.nav-ul {
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 80px;
  font-weight: 600;
}

.nav-li > a {
  color: #ffffff;
}

.nav-li > a:focus-visible {
  outline: none;
  box-shadow: 0px 0px 6px #ffffff;
}

.aside-nav > a {
  margin-top: auto;
}

.hidden {
  left: -100%;
}
/* _____________________________________________________________________________________ */
/* header */

/* article */
/* _____________________________________________________________________________________ */
.a-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 475px;
  overflow: hidden;
  margin-bottom: -75px;
}

.a-back {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 400px;
  background-color: #b236ff2a;
  border-radius: 0px;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  /* background-image: url("/src/assets/images/article-cube.svg");
  background-repeat: no-repeat;
  background-position: 764px 250px; */
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  padding-bottom: 56px;
  overflow: hidden;
}

h1 {
  max-width: 214px;
  font-size: 42px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 50px;
  color: #334047;
}

article > p {
  max-width: 230px;
  margin-bottom: 69px;
  font-size: 16px;
  font-weight: 300;
  color: #334047;
}

.get {
  padding: 23px 58px 25px;
}

picture {
  position: absolute;
  top: 80px;
  left: 120px;
  z-index: 1;
  rotate: 45deg;
  /* background-image: url("assets/images/img-back.png");
  background-repeat: no-repeat;
  background-position: 80 120; */
}
/* _____________________________________________________________________________________ */
/* article */

/* section-first */
/* _____________________________________________________________________________________ */
section {
  margin-top: 130px;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-bottom: 70px;
}

.sfirst-ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 40px -40px;
  text-align: center;
}

@media (min-width: 375px) {
  .sfirst-ul {
    margin: 0 75px -40px;
  }
}

.sfirst-li {
  flex-basis: 93px;
  margin-bottom: 40px;
}

.sfirst-li > p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  color: #334047;
}
/* _____________________________________________________________________________________ */
/* section-first */

/* section-second */
/* _____________________________________________________________________________________ */
.ssecond-ul {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
}

.ssecond-ul::-webkit-scrollbar {
  display: none;
}

.ssecond-li {
  flex: 1;
  position: relative;
  height: 460px;
}

.ssecond-li + .ssecond-li {
  margin-left: 10px;
}

.ssecond-li:last-child {
  padding-right: 24px;
}

.backgraound {
  width: 252px;
  height: 326px;
  border-radius: 40px;
}

.one {
  background-color: #ff786cad;
  scroll-snap-align: start;
  scroll-margin-left: 24px;
}

.two {
  background-color: #26a69996;
  scroll-snap-align: center;
}

.three {
  background-color: #f5cd1d96;
  scroll-snap-align: end;
  scroll-margin-right: 24px;
}

.ssecond-li > img{
  position: absolute;
  top: 36px;
  left: 38px;
  filter: drop-shadow(0px 15px 5px #C4C4C4);
}

.ssecond-li > p{
  position: relative;
  top: 87px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #334047;
}
/* section-second */
/* _____________________________________________________________________________________ */

/* section-third */
/* _____________________________________________________________________________________ */
.wrapper-ul {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
  padding: 0 24px;
}

.wrapper-ul::-webkit-scrollbar {
  display: none;
}

.sthird-ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.sthird-li {
  flex: 1;
}
.wrapper-li {
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  width: 250px;
  height: 430px;
  background-color: #b236ff3b;
  border-radius: 40px;
  scroll-snap-align: center;
}

.sthird-li + .sthird-li {
  margin-left: 10px;
}

.sthird-li:first-child > .wrapper-li {
  scroll-snap-align: start;
  scroll-margin-left: 24px;
}

.sthird-li:last-child > .wrapper-li {
  scroll-snap-align: end;
  scroll-margin-right: 24px;
  margin-right: 24px;
}

.li-number {
  background-color: #942dd4f3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
}

.wrapper-li > p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #334047;
}

p.p-color {
  margin-top: 10px;
  color: #536975;
}

.wrapper-li > img {
  position: relative;
}

.img-s3-1 {
  left: 100px;
  top: 10px;
}

.img-s3-2 {
  top: 35px;
  left: -30px;
}

.img-s3-3 {
  top: 90px;
  left: -30px;
}

.img-s3-4 {
  top: 40px;
  left: 90px;
}
/* _____________________________________________________________________________________ */

/* section-third */

/* section-fouth */
/* _____________________________________________________________________________________ */
.wrapper-li-4 {
  padding: 40px 20px;
  width: 250px;
  height: 500px;
  background-color: #26a69959;
  border-radius: 40px;
  text-align: center;
  scroll-snap-align: center;
}

.wrapper-li-4 > p {
  margin-top: 24px;
  margin-bottom: 0;
  color: #334047;
  font-size: 16px;
  font-weight: 400;
}

.img-s4-2 {
  margin-top: 100px;
}

.img-s4-3 {
  margin-top: 50px;
  margin-left: -20px;
}

.sthird-li:last-child > .wrapper-li-4 {
  margin-right: 24px;
}

.input-number {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.input-number > label {
  text-align: start;
  font-size: 12px;
  color: #334047;
}

.input-number > input {
  margin-top: 16px;
  padding: 16px 20px;
  height: 55px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.input-number > button {
  margin-top: 20px;
  border: none;
}
.line {
  position: absolute;
  top: 60px;
  left: 165px;
}
/* _____________________________________________________________________________________ */

/* section-fouth */

/* footer */

/* _____________________________________________________________________________________ */
footer {
  display: flex;
  flex-direction: column;
  padding: 40px 24px 0;
}

.footer-tel-wrapper {
  font-size: 14px;
  line-height: 20px;
  font-family: "Jost";
  font-weight: 400;
  color: #334047;
}

.tel-wrapper {
  margin-top: 30px;
}

.tel-wrapper > a {
  font-weight: 600;
  color: #000000;
}

.footer-ul-socnet {
  display: flex;
  margin-top: 60px;
  padding: 0;
}

.footer-ul-socnet > li + li {
  margin-left: 20px;
}

.footer-ul-document {
  margin-top: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #291a7e;
}

.footer-ul-document a:active {
  color: #1f6e4d;
}

address {
  margin-top: 30px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #334047;
}

footer > p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #334047;
}

footer > p:last-child {
  margin-top: 15px;
  margin-bottom: 70px;
}

/* _____________________________________________________________________________________ */

/* footer */
